/* responsive */
@media all and (max-width: 1024px) {
    .navigation {
        display: none;
    }

    .menu {
        display: block;
        z-index: 2;
        position: relative;
    }

    .nav-checkbox:checked ~ .navigation {
        display: flex;
        position: fixed;
        background-color: #fff;
        width: 50%;
        height: 60vh;
        flex-direction: column;
        justify-content: space-evenly;
        top: 0;
        right: 0;
        font-size: 40px;
        text-align: center;
    }

    .nav {
        flex-direction: column;
    }

    .sign-up {
        flex-direction: column;
    }

    .sign-up > li {
        background: none;
        padding: 0;
    }

    .sign-up :hover {
        background: none;
        color: #02bfdb;

    }

    .sign-up-left {
        margin: 0;
    }

    .top-text-field {
        font-size: 20px;
    }

    .btn {
        padding: 8px 20px;
        font-size: 16px;
    }

    .human-content {
        min-width: 0;
    }

    .featured-courses-box {
        width: 32%;
    }

    .featured-courses-title {
        font-size: 25px;
    }

    .featured-courses-paragraph {
        font-size: 14px;
    }

    .featured-courses-box-title {
        font-size: 14px;
    }

    .featured-courses-box-paragraph {
        font-size: 12px;
    }

    .cost-number {
        font-size: 14px;
    }

    .featured-courses-field {
        width: 65%;
    }

    .questions-paragraph {
        font-size: 12px;
    }

    .questions-img {
        display: none;
    }

    .questions-container {
        margin: 0 auto;
    }
}

@media all and (max-width: 768px) {
    .logo-field {
        padding-left: 0;
    }

    .top::after {
        display: none;
    }

    .top-content {
        margin: 0 auto;
        text-align: center;
        transform: translate(0, 0);
        left: 0;
    }

    .top-text-field {
        width: 95%;
        font-size: 30px;
    }

    .featured-courses-field {
        flex-direction: column;
        width: 100%;
        margin: 0 auto;
        align-items: center;
    }

    .featured-courses {
        margin: 0 auto;
        width: 100%;
        text-align: center;
    }

    .featured-courses-text {
        width: 100%;
    }

    .featured-courses-paragraph {
        width: 60%;
        margin: 10px auto 30px;
    }

    .featured-courses-box {
        width: 45%;
        margin-bottom: 15px;
    }

    .featured-courses-arrow {
        justify-content: center;
        width: 100%;
        margin: 0 auto
    }

    .featured-courses-btn-box {
        flex-direction: column;
        display: flex;
        align-items: center;
    }

    .featured-courses-btn {
        margin-top: 20px;
        font-size: 14px;
    }

    .articles-field {
        flex-direction: column;
        align-items: center;
    }

    .articles-right {
        order: -1;
        width: 65%;
    }

    .articles-content-bottom {
        flex-direction: column;
    }

    .articles-description {
        margin-bottom: 10px;
    }

    .articles-left-filed {
        flex-direction: column;
    }

    .articles-left-filed {
        width: 60%;
    }

    .articles-left-description {
        margin-bottom: 10px;
    }

    .articles-btn {
        font-size: 14px;
        letter-spacing: 0;
    }
}

@media all and (max-width: 480px) {
    .top-content {
        left: 0;
    }

    .featured-courses-btn {
        padding: 8px 20px;
        font-size: 10px;
        letter-spacing: 0;

    }

    .articles-btn {
        font-size: 10px;
        margin-bottom: 10px;
    }

    .articles-paragraph {
        font-size: 12px;
    }

    .articles-btn-box {
        flex-direction: column;
    }

    .articles-content-bottom {
        margin: 0;
    }

    .featured-courses-btn-box {
        margin: 0;
    }

    .questions-paragraph {
        font-size: 10px;
    }
}

@media all and (max-width: 310px) {
    .top-btn-content {
        display: flex;
        flex-direction: column;
        width: 95%;
        margin: 0 auto;
    }

    .btn {
        margin-top: 5px;
    }

    .top-text-field {
        font-size: 25px;
    }
}

/* responsive end */

