@font-face {
    font-family: 'sosnof';
    src: url('fonts/SosNof Normal/Clarendon-Light-DTC.eot');
    src: url('fonts/SosNof Normal/Clarendon-Light-DTC.eot?#iefix') format('embedded-opentype'),
    url('fonts/SosNof Normal/Clarendon-Light-DTC.woff2') format('woff2'),
    url('fonts/SosNof Normal/Clarendon-Light-DTC.woff') format('woff'),
    url('fonts/SosNof Normal/Clarendon-Light-DTC.ttf') format('truetype'),
    url('fonts/SosNof Normal/Clarendon-Light-DTC.svg#Clarendon-Light-DTC') format('svg');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Droid Sans regular';
    src: url('fonts/droidsans regular/DroidSans.eot');
    src: url('fonts/droidsans regular/DroidSans.eot?#iefix') format('embedded-opentype'),
    url('fonts/droidsans regular/DroidSans.woff2') format('woff2'),
    url('fonts/droidsans regular/DroidSans.woff') format('woff'),
    url('fonts/droidsans regular/DroidSans.ttf') format('truetype'),
    url('fonts/droidsans regular/DroidSans.svg#DroidSans') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Droid Sans bold';
    src: url('fonts/droidsans bold/DroidSans-Bold.eot');
    src: url('fonts/droidsans bold/DroidSans-Bold.eot?#iefix') format('embedded-opentype'),
    url('fonts/droidsans bold/DroidSans-Bold.woff2') format('woff2'),
    url('fonts/droidsans bold/DroidSans-Bold.woff') format('woff'),
    url('fonts/droidsans bold/DroidSans-Bold.ttf') format('truetype'),
    url('fonts/droidsans bold/DroidSans-Bold.svg#DroidSans-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}


* {
    padding: 0;
    margin: 0;
}

/* header */

header {
    background: #fff;
    width: 100%;
    box-shadow: 0 3px 6px #0000002C;
    position: relative;
    z-index: 1;
}

.header-content {
    width: 95%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
}

.logo-field {
    padding-left: 100px;
    cursor: pointer;
}

.logo {
    font-size: 33px;
    font-family: sosnof, sans-serif;
    color: #000;
    font-weight: bold;
    letter-spacing: 1.98px;
}

.logo-text {
    font-size: 11px;
    color: #7A7A7A;
    font-family: Droid Sans regular, sans-serif;
    text-align: end;
    padding-bottom: 3px;
}

.nav {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin-right: 20px;
    width: 55%;
    align-items: center;
}

.sign-up {
    display: flex;
    list-style-type: none;
}

.nav > li > a {
    text-decoration: none;
    font-size: 16px;
    font-family: Droid Sans regular, sans-serif;
    color: #505050;
    letter-spacing: 0.96px;
}

.nav > li:hover:after {
    content: "";
    display: block;
    width: 35px;
    height: 2px;
    background-color: #BDD531;
    margin: 0 auto;
}

.sign-up > li > a {
    text-decoration: none;
    font-size: 15px;
    font-family: Droid Sans regular, sans-serif;
    color: #292929;
    letter-spacing: 0.48px;
}

.sign-up > li {
    background: #02BFDB;
    padding: 18px 25px;
    transition: 0.3s;
}

.sign-up :hover {
    background: #BDD531;
    cursor: pointer;

}

.sign-up-left {
    margin-right: 15px;
}

.navigation {
    display: flex;
    align-items: center;
    width: 60%;
    justify-content: flex-end;
}

/* top section */
.top {
    background: url("images/painter-1937575_1920-1024x683.jpg") no-repeat center;
    min-height: 80vh;
    background-size: cover;
    position: relative;
    overflow: hidden;
}

.top::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(255, 254, 254, 0.71);
}
.top::after {
    content: '';
    display: block;
    background: url("images/graffiti-508272_1920.jpg") no-repeat center;
    width: 35%;
    min-height: 80vh;
    position: absolute;
    background-size: cover;
    right: -40px;
    transform: rotateY(180deg) skewX(-10deg);
    opacity: 0.83;
}

.top-content {
    position: absolute;
    transform: translate(0, -50%);
    top: 50%;
    left: 150px;
}

.top-text-field {
    font-size: 30px;
    width: 285px;
    margin-bottom: 40px;
    color: #000;
    text-shadow: 0 3px 6px #00000036;
    font-family: Droid Sans bold,sans-serif;
}

.btn {
    background: #BDD531;
    border: 1px solid #BDD531;
    padding: 10px 30px;
    color: #292929;
    border-radius: 6px;
    letter-spacing: 0.75px;
    margin-right: 10px;
    transition: 0.3s;
    font-family: Droid Sans regular,sans-serif;
    font-size: 20px;
}

.btn:hover {
    background: none;
    cursor: pointer;
}
/* top section end */

/* featured-courses */

.featured-courses-container{
    background: url("images/image285.PNG") no-repeat right;
    background-size: 20%;
    padding: 80px 0;
}

.featured-courses-text {width: 60%;}

.featured-courses-title {
    font-size: 30px;
    color: #292929;
    letter-spacing: 1.5px;
    font-family: Droid Sans bold, sans-serif;
}

.featured-courses-paragraph {
    font-size: 15px;
    margin: 10px 0 30px;
    color: #292929;
    letter-spacing: 0.48px;
    font-family: Droid Sans regular, sans-serif;
}

.featured-courses {
    width: 80%;
    margin: 0 150px;
}

.featured-courses-box {
    width: 30%;
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid #D0D0D0;
    box-shadow: 0 3px 7px 1px #0000002C;
}

.featured-courses-box > img {
    width: 100%;
}

.featured-courses-field {
    margin: 0 150px;
    display: flex;
    justify-content: space-between;
    width: 50%;
}

.featured-courses-box-title {
    color: #292929;
    font-size: 15px;
    letter-spacing: 0.54px;
    padding: 5px;
    font-family: Droid Sans bold, sans-serif;
}

.featured-courses-box-paragraph {
    font-size: 13px;
    letter-spacing: 0.39px;
    padding: 0 5px 5px 5px;
    color: #292929;
    font-family: Droid Sans regular, sans-serif;
}
.featured-courses-btn {
    font-size: 16px;
}
.featured-courses-btn-box {
    margin: 0 150px;
}

.featured-courses-arrow {
    display: flex;
    justify-content: flex-end;
    width: 50%;
    margin: 10px 150px;
}

.arrow {
    width: 5px;
    height: 5px;
    display: block;
    border: 1px solid #BDD531;
    transform: rotate(45deg);
    border-right: none;
    border-top: none;
}

.arrow::after {
    content: '';
    display: block;
    width: 11px;
    height: 1px;
    background-color: #BDD531;
    transform: rotate(-45deg) translate(-2px, -50%);
}
.arrow-box {
    border: 1px solid #BDD531;
    padding: 5px 7px 5px 5px;
    margin-left: 5px;
    cursor: pointer;
}

.arrow-box-right {
    transform: rotate(180deg);
}

.human-img > img {
    width: 20px;
    height: 20px;
    border-radius: 100%;
}

.human-cost-content {
    display: flex;
    width: 90%;
    justify-content: space-between;
    margin: 5px auto;
}

.human-content {
    display: flex;
    max-width: 80px;
    justify-content: space-between;
    align-items: center;
    min-width: 75px;
}

.human-name {
    font-size: 10px;
    color: #292929;
    font-family: Droid Sans regular,sans-serif;
}

.cost-number {
    color: #D35135;
    font-size: 17px;
    font-family: Droid Sans bold, sans-serif;
}
.cost-number-old {
    color: #8B8B8B;
    font-family: Droid Sans regular, sans-serif;
    font-size: 11px;
    margin-right: 5px;
    text-decoration: line-through;
}

.cost-content {
    display: flex;
    align-items: center;
}
/* featured-courses end */
/* articles-container */
.articles-container {
    background-color: #FAFAFA;
}
.articles-left-description-img {position: relative;}
.articles-left-description-img >img {
    width: 100%;
    display: block;
}

.articles-left-filed {
    display: flex;
    width: 40%;
    justify-content: space-between;
    padding: 30px 0;
}

.articles-left-description {
    margin-right: 30px;
}

.articles-left-description-img2 {
    width: 80%;
}

.articles-left-description-img::before {
    content: "";
    display: block;
    width: 4px;
    height: 100%;
    background: #BDD531;
    position: absolute;
    right: 0;
}

.articles-field {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
}

.articles-left-desc-title {
    color: #292929;
    font-size: 15px;
    margin: 10px 0;
    font-family: Droid Sans bold, sans-serif;
}

.articles-left-desc-paragraph {
    font-size: 13px;
    color: #292929;
    font-family: Droid Sans regular, sans-serif;
}

.articles-right {
    width: 50%;
}

.articles-paragraph {
    margin: 20px 0;
    font-size: 13px;
    color: #292929;
    font-family: Droid Sans regular, sans-serif;
}

.articles-title {
    color: #292929;
    font-size: 25px;
    font-family: Droid Sans bold, sans-serif;
}

.articles-btn-box {
    display: flex;
}

.articles-btn {
    font-size: 12px;
    padding: 8px 20px;
}

.articles-content-bottom {
    display: flex;
    margin: 60px 0;
    justify-content: space-between;
}

.articles-description-img {
    width: 88%;
    position: relative;
}

.articles-description-img > img {
    width: 100%;
    display: block;
}
.articles-description-img-right {
    width: 80%;
}

.articles-desc-title {
    margin: 10px 0;
    font-size: 15px;
    color: #292929;
    width: 90%;
    font-family: Droid Sans bold, sans-serif;
}

.articles-desc-paragraph {
    font-size: 13px;
    color: #292929;
    width: 90%;
    font-family: Droid Sans regular, sans-serif;
}

.articles-description-img::before {
    content: "";
    display: block;
    width: 4px;
    height: 100%;
    background: #BDD531;
    position: absolute;
    right: 0;
}
.articles-description-img-left::before {
    content: "";
    display: block;
    width: 50px;
    height: 100%;
    background: #BDD531;
    position: absolute;
    right: 0;
    opacity: 0.76;
}
/* articles-container end */
/* questions container */

.questions {
    background: #fff;
    overflow: hidden;
}

.questions-container {
    margin: 10px 150px;
    width: 75%;
}

.questions-title {
    color: #292929;
    font-size: 25px;
    margin-bottom: 20px;
    font-family: Droid Sans bold, sans-serif;
}

.questions-paragraph {
    color: #292929;
    font-size: 13px;
    padding: 12px 0;
    border-bottom: 1px solid #B2B2B2;
    display: flex;
    justify-content: space-between;
    max-width: 600px;
    font-family: Droid Sans bold, sans-serif;
}

.questions-icon {
    border: 1px solid #BDD531;
    padding: 1px 5px;
    color: #BDD531;
    cursor: pointer;
    transition: 0.3s;
}

.questions-icon:hover {
    background: #BDD531;
    color: #fff;
}

.questions-container-all {
    display: flex;
    justify-content: space-between;
    padding: 40px 0;
}

.questions-img {
    width: 20%;
    padding: 77px 0;
}

.questions-img > img {
    width: 100%;
    transform: rotateZ(20deg) scale(1.5);
}
/* questions container */

/* students container */

.students {
    background: #fff;
    overflow: hidden;
}

.students-container {
    width: 90%;
    margin: 0 auto;
}

.students-title {
    text-align: center;
    color: #292929;
    font-size: 25px;
}

.student-img {
    width: 20%;
    margin-right: 25px;
}
.student-img > img {
    width: 100%;
}

.students-description {
    display: flex;
    margin-bottom: 40px;
}

.student-desc {width: 60%;}

.student-speciality {
    font-size: 13px;
    color: #000000;
    margin: 10px 0 20px;
    font-family: Droid Sans regular, sans-serif;
}

.student-paragraph {
    font-size: 13px;
    color: #000000;
    font-family: Droid Sans regular, sans-serif;
    width: 95%;
}

.student-name {
    font-family: Droid Sans bold, sans-serif;
    color: #000;
    font-size: 17px;
}

.students-field-box {
    display: flex;
    margin: 25px 0;
}

.icon-box {
    width: 8px;
    height: 8px;
    border: 0.5px solid #707070;
    display: block;
}

.icon-line {
    display: block;
    width: 1px;
    height: 85px;
    background: #C3C3C3;
    margin: 0 auto;
}
.students-divider {
    margin: 80px 70px 0 30px;
}

.students-field-right {
    padding: 150px 0;
}

.icon-line-2 {
    height: 130px;
}

.icon-line-3 {
    height: 100px;
}


/* students container end */

/* footer */
.footer-content-top {
    width: 70%;
    margin: 0 auto;
    padding: 40px 0;
    text-align: center;
}

.footer-container {
    background: #333333;
}

.footer-logo-name-desc > h3 {
    font-size: 25px;
    color: #FFFFFF;
    font-family: Droid Sans regular, sans-serif;
}

.footer-logo-name-desc > p{
    font-size: 12px;
    color: #FFFFFF;
    font-family: Droid Sans regular, sans-serif;
    margin: 5px 0 20px;
}

.footer-nav > li > a {
    font-size: 14px;
    color: #FFFFFF;
}

.footer-nav {
    margin: 0 auto;
}

.footer-nav-box::after {
    content: "";
    display: block;
    width: 80px;
    height: 2px;
    background: #FFFFFF;
    margin: 25px auto;
}

.footer-navigation {
    width: 100%;
}

.footer-desc {
    font-size: 14px;
    color: #fff;
    font-family: Droid Sans regular, sans-serif;
    margin-bottom: 25px;
}

.nav-social {
    display: flex;
    justify-content: center;
}

.social-icon {
    margin-right: 10px;
    background: #292929;
    padding: 5px;
    transition: 0.3s;
    border-radius: 3px;
}

.social-icon a > svg {
    fill: #fff;
}

.social-icon:hover {
    background: #BDD531;

}

.footer-content-bottom {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: 0 auto;
    color: #fff;
    font-size: 13px;
    font-family: Droid Sans regular, sans-serif;
}

.aist-color {
    color: #FFC400;
}
/* footer end */